# Normalize line endings for all files that Git considers text files
* text=auto eol=lf

# Asset Library: Only include the addons folder when downloading
/** export-ignore
/addons !export-ignore
/addons/** !export-ignore
/example1 !export-ignore
/example1/** !export-ignore

# Exclude screenshots from Asset Library downloads
/addons/card-framework/screenshots/** export-ignore
